<div class="row">
    <div class="col-md-12">
        <h1>Registrar credito</h1>
    </div>
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-body">
                <form >                 
                    <div class="form-group">
                        <label>Identificacion</label>
                        <input type="text"  name="identificacion"  [(ngModel)]="credito.identificacion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text"  name="nombre"  [(ngModel)]="credito.nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Capital inicial</label>
                        <input type="number"  name="capitalInicial"  [(ngModel)]="credito.capitalInicial" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Tasa de interes (meses) - (ejemplo 10 = 10%)</label>
                        <input type="number"  name="tasaInteres"  [(ngModel)]="credito.tasaInteres" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Tiempo de duracion (meses)</label>
                        <input type="number"  name="tiempoDuracion"  [(ngModel)]="credito.tiempoDuracion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Total a pagar</label>
                        <input type="number"  name="totalPagar"  [(ngModel)]="totalPagar" class="form-control" readonly />
                    </div>
                    <div class="text-center">
                        <button class="btn btn.primary mr-1" (click)="add()">Registrar</button>
                        <button class="btn btn-secondary" type="reset">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
                   
    </div>
</div>

